:root {
    --main-bg-color: white;
    --color-text: #6c63ff;
    --active-color: #6c63ff;
    --color-heading: #111111;
}

body {
    background-color: var(--main-bg-color);
}

h1 {
    color: var(--color-heading);
}

h2 {
    color: var(--color-text);
}

a, a:visited, a:active, a:hover {
    color: var(--color-text);
    text-decoration: none;
}

  label {
    position: relative;
    display: inline-block;
  }
  label:before {
    content: "";
    height: 31px;
    position: absolute;
    right: 7px;
    top: 3px;
    width: 22px;
    background: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
    display: block;
  }
  label:after {
    content: " ";
    position: absolute;
    right: 15px;
    top: 46%;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: #aaa transparent transparent transparent;
    pointer-events: none;
  }
  label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px 0 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    line-height: 36px;
    height: 36px;
    background: #fff;
    margin: 0 5px 5px 0;
  }

  label select:focus, label select:active, label select:hover, label select:focus-visible {
    outline: 1px solid var(--color-text);
  }
  
  select::-ms-expand {
    display: none;
  }