.main {
  margin: 0 auto;
  max-width: 1250px;
}

.header {
  background-color: var(--main-bg-color);

  border: 1px solid #eaeaea;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.h1 {
  color: var(--color-heading);
  font-size: 1.2em;
}

.h2 {
  color: var(--color-text);
  font-size: 1em;
}


.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}	

.footer {
  background-color: var(--main-bg-color);
  text-align: center;
  min-height: 65px;
}

.footer img {
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .header {
    border: none;
  }
  .inline {
    flex-direction: column;
    text-align: center;
  }
  .footer {
    padding: 15px;
  }
}