.header {
  background-color: var(--main-bg-color);

  border: 1px solid #eaeaea;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  text-align: center;
}

.footer {
  background-color: var(--main-bg-color);
  text-align: center;
  padding: 15px;
  border: 1px solid #eaeaea;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  min-height: 65px;
}

.footer img {
  margin-left: 5px;
}
